# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.out/
.next/

# env
.env
.env.*
!.env.example

# logs
*.log
logs/

# cache
.cache/

# typescript
*.tsbuildinfo

# coverage
coverage/

# misc
.DS_Store

# IDE
.vscode/
.idea/